$primary-color: #5f60ed;
$secondry-color: #fc7b72;
$dark-color: #0c1e3c;

a:hover,
.active,
.active:hover {
  transition: 300ms ease-in-out;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #f13a51;
  font-weight: bold;
}
.breadcrumbs svg {
  width: 22px;
  height: 22px;
  margin-right: 0.5em;
}
.breadcrumbs span {
  color: #272769;
}
.breadcrumbs__separator {
  margin: 0em 0.2em;
}
.container {
  display: flex;
  height: 100vh;
}
.container__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
  flex: 1;
  max-width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container__sidebar__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.container__sidebar__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0em 2em;
  height: 100%;
  overflow-y: auto;
}
.container__sidebar__content .active,
.container__sidebar__content .active:hover {
  color: #f13a51;
}
.container__sidebar__content .active span {
  color: #272769;
  font-weight: bold;
}
.container__sidebar__content__entry {
  width: 100%;
  margin-bottom: 1em;
  color: #cecece;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.container__sidebar__content__entry svg {
  margin-right: 0.7em;
  width: 20px;
  height: 20px;
}
.container__sidebar__content__entry:hover {
  color: #272769;
}
.container__sidebar__button {
  width: calc(100% - 4em);
  margin: 0em 2em;
  margin-top: 2em;
  color: #cecece;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.container__sidebar__button svg {
  margin-right: 0.7em;
  width: 20px;
  height: 20px;
}
.container__sidebar__button:hover {
  color: #272769;
}
.container__main {
  flex: 1;
  padding: 2em;
}
.container__dashboard {
  display: flex;
}
.container__dashboard__main {
  flex: 1;
  height: 100%;
}
.container__dashboard__main__stats {
  display: flex;
  margin-bottom: 1.5em;
}
.container__dashboard__main__stats__entry {
  flex: 1;
  height: 120px;
  max-width: 350px;
  border-radius: 10px;
  margin-right: 1em;
  padding: 1.5em;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.container__dashboard__main__stats__entry__heading {
  font-size: 1rem;
  margin-bottom: 0.5em;
  color: white;
}
.container__dashboard__main__stats__entry__value {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.container__dashboard__main__chart {
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  width: 100%;
}
.container__dashboard__main__chart__left {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
}
.container__dashboard__main__chart__left__heading {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.container__dashboard__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
  flex: 1;
  max-width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-left: 2em;
}
.container__dashboard__sidebar__month {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5c5c5;
  border-radius: 50px;
  outline: $primary-color;
  padding: 0.5em 0.8em;
}
#selectMonth {
  display: flex;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #616161;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 0.2em;
}
.container__dashboard__sidebar__balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}
.container__dashboard__sidebar__balance__title {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: #f13a51;
  margin-bottom: 0.5em;
}
.container__dashboard__sidebar__balance__heading {
  display: flex;
  font-size: 22px;
  font-weight: 900;
  color: $dark-color;
}
.container__dashboard__sidebar__balance__subheading {
  font-size: 16px;
  font-weight: bold;
  color: $dark-color;
}
.container__dashboard__sidebar__balance__graph {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1.5em 0;
}
.doughnut__wrapper__legend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  z-index: 1;
}

.doughnut__wrapper__chart {
  z-index: 100;
  position: relative;
}
.container__dashboard__sidebar__balance__pending {
  display: flex;
  width: 100%;
  padding: 0 1em;
  flex-direction: column;
}
.container__dashboard__sidebar__balance__pending__entry {
  display: flex;
  padding: 1em;
  background-color: #fafafa;
  border-radius: 15px;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;
}
.container__dashboard__sidebar__balance__pending__entry__graph {
  margin-right: 10px;
}
.container__dashboard__sidebar__balance__pending__entry__content {
  display: flex;
  flex-direction: column;
}
.container__dashboard__sidebar__balance__pending__entry__content__heading {
  font-size: 14px;
  font-weight: bold;
  color: #a7a7a7;
}
.container__dashboard__sidebar__balance__pending__entry__content__amount {
  font-size: 20px;
  font-weight: bold;
  color: $dark-color;
}
.container__dashboard__sidebar__notification {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.container__dashboard__sidebar__notification__header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
