$primary-color: #5f60ed;
$secondry-color: #fc7b72;
$dark-color: #0c1e3c;

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.header__section {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  align-items: center;
  justify-content: center;
}
.header__section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2em 0;
  border-bottom: 1px solid #dcdcdc;
}
.header__section__center {
  display: flex;
}
.header__btn {
  text-decoration: none;
  margin: 0 2em;
  color: #5f5d5d;
}
.header__btn:hover {
  color: $primary-color;
  text-decoration: underline;
}
.login__btn {
  background-color: $secondry-color;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.8em 4em;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
}
.login__btn:hover {
  background-color: transparent;
  border: 1px solid $secondry-color;
  color: $secondry-color;
}
.header__menu {
  display: none;
}
.hero__section__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 7em 0 2em;
}
.hero__section__content__left {
  display: flex;
  width: 40%;
  font-size: 50px;
  font-weight: bolder;
}
.hero__section__content__right {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 14px;
  line-height: 25px;
  color: #777777;
}
.hero__section__content__right__line {
  margin-top: 2em;
  width: 40%;
  border-bottom: 2px solid $secondry-color;
}
.hero__section__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero__section__btn__left {
  display: flex;
  width: 40%;
}
.hero__section__singup {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding: 1em 2em;
  background-color: $primary-color;
  border: 1px solid transparent;
  color: white;
  border-radius: 50px;
  margin-right: 1em;
  cursor: pointer;
}
.hero__section__more {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 50px;
  margin-right: 1em;
  cursor: pointer;
}
.hero__section__singup:hover {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
}
.hero__section__more:hover {
  background-color: $primary-color;
  border: 1px solid transparent;
  color: white;
}
.hero__section__btn__right {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 14px;
  color: #777777;
}
.hero__section__btn__right__stars {
  margin-bottom: 5px;
}

//--------------------------------------------------------------------Responsive
@media (max-width: 1120px) {
  .hero__section__content__left {
    width: 45%;
    font-size: 45px;
  }
  .hero__section__content__right {
    width: 45%;
    font-size: 12px;
    line-height: 20px;
  }
  .hero__section__btn__left {
    width: 45%;
  }
  .hero__section__btn__right {
    width: 45%;
  }
}

@media (max-width: 945px) {
  .header__menu {
    display: flex;
  }
  .header__section__left {
    display: flex;
    flex: 1;
  }
  .login__btn {
    position: absolute;
    right: 75px;
    top: 32px;
    font-size: 14px;
  }
  .header__section__left img {
    height: 38px;
    width: 117px;
  }
  .header__section__center {
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 103px;
    background-color: $secondry-color;
    padding: 2em;
  }
  .header__btn {
    margin: 1em 2em;
    color: white;
  }
  .hero__section__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__section__content__left {
    width: 70%;
    font-size: 50px;
    margin-bottom: 1em;
  }

  .hero__section__content__right {
    width: 70%;
    font-size: 14px;
    line-height: 25px;
    justify-content: center;
    align-items: center;
  }

  .hero__section__btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__section__btn__left {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__section__btn__right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
}

@media (max-width: 660px) {
  .hero__section__content__left {
    width: 90%;
    font-size: 45px;
  }
  .hero__section__content__right {
    width: 90%;
  }
  .hero__section__content {
    margin: 5em 0 2em;
  }
  .hero__section__btn__left {
    width: 90%;
  }
  .hero__section__btn__right {
    width: 90%;
  }
  .hero__section__singup,
  .hero__section__more {
    font-size: 12px;
  }
  .hero__section__btn__right__stars img {
    height: 16px;
  }
  .hero__section__btn__right__reviews {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .login__btn {
    font-size: 10px;
    top: 34px;
  }
  .header__section__left img {
    height: 32px;
    width: 99px;
  }
  .header__section__center {
    top: 97px;
  }
  .hero__section__content__left {
    width: 100%;
    font-size: 35px;
  }
  .hero__section__content__right {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
  .hero__section__btn__left {
    width: 100%;
  }
  .hero__section__btn__right {
    width: 100%;
  }
}
