$primary-color: #5f60ed;
$secondry-color: #fc7b72;
$dark-color: #0c1e3c;

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.header__section,
.feature__section,
.growth__section,
.pricing__section {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 4em;
  align-items: center;
  justify-content: center;
}

.about__section {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 auto;
  padding: 0 4em;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fb;
}

.header__section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2em 0;
  border-bottom: 1px solid #dcdcdc;
}
.header__section__center {
  display: flex;
}
.header__btn {
  text-decoration: none;
  margin: 0 2em;
  color: #5f5d5d;
}
.header__btn:hover {
  color: $primary-color;
  text-decoration: underline;
}
.login__btn {
  background-color: $secondry-color;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.8em 4em;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
}
.login__btn:hover {
  background-color: transparent;
  border: 1px solid $secondry-color;
  color: $secondry-color;
}
.header__menu {
  display: none;
}
.hero__section__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 7em 0 2em;
}
.hero__section__content__left {
  display: flex;
  width: 40%;
  font-size: 50px;
  font-weight: bolder;
}
.hero__section__content__right {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #777777;
}
.hero__section__content__right__line {
  margin-top: 2em;
  width: 40%;
  border-bottom: 2px solid $secondry-color;
}
.hero__section__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero__section__btn__left {
  display: flex;
  width: 40%;
}
.hero__section__singup {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding: 1em 2em;
  background-color: $primary-color;
  border: 1px solid transparent;
  color: white;
  border-radius: 50px;
  margin-right: 1em;
  cursor: pointer;
}
.hero__section__more {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 50px;
  margin-right: 1em;
  cursor: pointer;
}
.hero__section__singup:hover {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
}
.hero__section__more:hover {
  background-color: $primary-color;
  border: 1px solid transparent;
  color: white;
}
.hero__section__btn__right {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
.hero__section__btn__right__stars {
  margin-bottom: 5px;
}
.hero__section__img {
  width: 100%;
  margin: 0 auto;
}
.hero__section__img img {
  width: 100%;
  margin: 5em 0 7em;
}
.dark__background {
  background-color: $dark-color;
  width: 100%;
  height: 900px;
  margin-top: -400px;
}
.feature__section__content {
  display: flex;
  flex-direction: column;
  margin-top: -500px;
  color: white;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}
.feature__section__subheading {
  background-color: rgba(95, 96, 237, 0.1);
  padding: 1em 2em;
  border-radius: 50px;
  width: fit-content;
  margin: 4em 0;
  font-weight: 300;
  font-size: 14px;
}
.feature__section__cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  gap: 3em;
}
.feature__section__cards__entry {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 500px;
  background-color: $primary-color;
  padding: 3em 1em;
  border-radius: 20px;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.feature__section__cards__entry img {
  width: 80px;
  margin-top: 1em;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 0.7em 0.5em;
  border-radius: 70px;
}
.feature__section__card {
  width: 30%;
  padding: 1.5em 1.5em 2em;
  background-color: white;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 12%);
  color: #000000;
  display: flex;
  flex-direction: column;
}
.feature__section__card__img img {
  width: 100%;
  background-color: #f4f8ff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.feature__section__card__heading {
  font-size: 26px;
  font-weight: bold;
  margin: 1em 0;
}
.feature__section__card__subheading {
  font-size: 14px;
  color: #777777;
  font-weight: 300;
  flex: 1;
}
.feature__section__card__btn {
  font-size: 14px;
  color: $primary-color;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.feature__section__card__btn img {
  width: 30px;
}
.growth__section__content {
  background-color: $dark-color;
  width: 100%;
  margin: 5em 0;
  border-radius: 20px;
  color: white;
  padding: 4em;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.growth__section__content img {
  position: absolute;
  top: 0;
  right: 300px;
}
.growth__section__text {
  width: 550px;
}
.growth__section__text__heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 1em;
}
.growth__section__text__subheading {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.674);
  line-height: 18px;
}
.growth__section__btn {
  width: fit-content;
  height: fit-content;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding: 1em 2em;
  background-color: $primary-color;
  border: 1px solid transparent;
  color: white;
  border-radius: 50px;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid transparent;
}
.growth__section__btn:hover {
  background-color: transparent;

  color: white;
  border: 1px solid $primary-color;
}
.about__section__content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 0;
}

.about__section__top {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  flex-wrap: wrap;
  align-items: center;
}
.about__section__top__left {
  display: flex;
  width: 45%;
  height: fit-content;
}
.about__section__top__left img {
  width: 100%;
}
.about__section__top__right {
  display: flex;
  width: 45%;
  flex-direction: column;
  // justify-content: space-between;
  // padding: 1em 0;
}
.about__section__top__right__title {
  font-size: 12px;
  font-weight: bold;
  color: $primary-color;
}
.about__section__top__right__heading {
  font-size: 50px;
  font-weight: bold;
  margin: 0.2em 0 0.5em;
}
.about__section__top__right__text {
  font-size: 16px;
  font-weight: 300;
  color: #777777;
  display: flex;
  flex: 1;
  align-items: center;
  margin: 1.5em 0;
}
.pricing__section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5em 0 3em;
}
.pricing__section__text__heading {
  font-size: 36px;
  font-weight: bold;
  max-width: 700px;
}
.pricing__section__text__subheading {
  font-size: 14px;
  color: #272727;
  margin-top: 2em;
  max-width: 500px;
}
.pricing__section__cards {
  display: flex;
  width: 100%;
  justify-content: center;
}
.pricing__section__card {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.pricing__section__card__heading {
  font-size: 46px;
  font-weight: bolder;
  margin: 1em 0;
  color: #231d4f;
}
.pricing__section__card__title {
  font-size: 36px;
  color: #231d4f;
}
.pricing__section__card__text {
  font-size: 18px;
  color: #848199;
  margin: 1em 0;
}
.pricing__section__card__point {
  font-size: 18px;
  color: #848199;
  display: flex;
}

//--------------------------------------------------------------------Responsive

@media (max-width: 1120px) {
  .hero__section__content__left {
    width: 45%;
    font-size: 45px;
  }
  .hero__section__content__right {
    width: 45%;
    font-size: 12px;
    line-height: 20px;
  }
  .hero__section__btn__left {
    width: 45%;
  }
  .hero__section__btn__right {
    width: 45%;
  }
  .feature__section__cards__entry {
    width: 40%;
  }

  .feature__section__card {
    width: 40%;
  }
  .feature__section__content {
    align-items: center;
  }
  .about__section__top__right__heading {
    font-size: 40px;
  }
  .about__section__top__right {
    width: 48%;
  }
  .about__section__top__left {
    width: 45%;
  }
}
@media (max-width: 945px) {
  .header__menu {
    display: flex;
  }
  .header__section__left {
    display: flex;
    flex: 1;
  }
  .login__btn {
    position: absolute;
    right: 75px;
    top: 32px;
    font-size: 14px;
  }
  .header__section__left img {
    height: 38px;
    width: 117px;
  }
  .header__section__center {
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 103px;
    background-color: $secondry-color;
    padding: 2em;
  }
  .header__btn {
    margin: 1em 2em;
    color: white;
  }
  .hero__section__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__section__content__left {
    width: 70%;
    font-size: 50px;
    margin-bottom: 1em;
  }

  .hero__section__content__right {
    width: 70%;
    font-size: 14px;
    line-height: 25px;
    justify-content: center;
    align-items: center;
  }

  .hero__section__btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__section__btn__left {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__section__btn__right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
  .feature__section__cards__entry,
  .feature__section__card {
    width: 45%;
  }
  .dark__background {
    margin-top: -300px;
  }
  .feature__section__content {
    margin-top: -450px;
  }
  .dark__background {
    height: 700px;
  }
  .growth__section__content {
    flex-direction: column;
  }

  .growth__section__text {
    width: 80%;
    text-align: center;
  }

  .growth__section__text__subheading {
    margin-bottom: 2em;
  }
  .about__section__top {
    flex-direction: column;
    text-align: center;
  }
  .about__section__top__left {
    width: 100%;
  }
  .about__section__top__right {
    align-items: center;
    margin-top: 3em;
    width: 100%;
  }
  .header__section,
  .feature__section,
  .growth__section,
  .about__section {
    padding: 0 2em;
  }
}
@media (max-width: 660px) {
  .hero__section__content__left {
    width: 90%;
    font-size: 45px;
  }
  .hero__section__content__right {
    width: 90%;
  }
  .hero__section__content {
    margin: 5em 0 2em;
  }
  .hero__section__btn__left {
    width: 90%;
  }
  .hero__section__btn__right {
    width: 90%;
  }
  .hero__section__singup,
  .hero__section__more {
    font-size: 12px;
  }
  .hero__section__btn__right__stars img {
    height: 16px;
  }
  .hero__section__btn__right__reviews {
    font-size: 12px;
  }
  .feature__section__cards__entry {
    width: 80%;
    height: 400px;
  }

  .feature__section__card {
    width: 80%;
  }

  .feature__section__content {
    margin-top: -400px;
  }
  .feature__section__subheading {
    font-size: 12px;
  }

  .dark__background {
    height: 600px;
    margin-top: -250px;
  }

  .feature__section__cards__entry {
    font-size: 32px;
  }

  .feature__section__card__heading {
    font-size: 20px;
  }
  .feature__section__card__subheading {
    font-size: 12px;
  }
  .feature__section__card__btn {
    font-size: 12px;
  }
  .feature__section__card {
    height: 400px;
  }
  .growth__section__text {
    width: 100%;
    text-align: center;
  }
  .growth__section__text__heading {
    font-size: 32px;
  }
  .growth__section__text__subheading {
    font-size: 12px;
    margin-bottom: 2em;
  }
  .growth__section__content img {
    right: 200px;
  }
  .about__section__top__right__heading {
    font-size: 36px;
  }
  .about__section__top__right__text {
    font-size: 14px;
  }
  .about__section__content {
    padding: 3em 0;
  }
  .pricing__section__text__heading {
    font-size: 32px;
  }
  .pricing__section__text__subheading {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .login__btn {
    font-size: 10px;
    top: 34px;
  }
  .header__section__left img {
    height: 32px;
    width: 99px;
  }
  .header__section__center {
    top: 97px;
  }
  .hero__section__content__left {
    width: 100%;
    font-size: 35px;
  }
  .hero__section__content__right {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
  .hero__section__btn__left {
    width: 100%;
  }
  .hero__section__btn__right {
    width: 100%;
  }
  .feature__section__cards__entry {
    width: 100%;
  }

  .feature__section__card {
    width: 100%;
  }
  .feature__section__content {
    margin-top: -420px;
  }
}
@media (max-width: 400px) {
  .dark__background {
    margin-top: -200px;
  }
  .feature__section__content {
    margin-top: -450px;
  }
}
